// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "configs/input.kdl"
include "configs/output.kdl" // its working fine without any config...
include "configs/appearance.kdl"
include "configs/autostart.kdl"
include "configs/defaults.kdl"
include "configs/windows.kdl"
include "configs/binds.kdl"
